<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar alumno</title>
</head>
<body>
    <h1>Crear un alumno</h1>
    <form method="post">
    <label for="name">Ingrese el nombre:</label>
    <input type="text" name="name" id="name"/>
    <br>
    <label for="ap_pat">Ingrese el apellido paterno:</label>
    <input type="text" name="ap_pat" id="ap_pat"/>
    <br>
    <label for="ap_mat">Ingrese el apellido materno:</label>
    <input type="text" name="ap_mat" id="ap_mat"/>
    <br>
    <label for="num_cta">Ingrese el numero de cta:</label>
    <input type="text" name="num_cta" id="num_cta" minlength="8" maxlength="8"/>
    <br>
    <label for="passwd">Ingrese el password:</label>
    <input type="password" name="passwd" id="passwd"/>
    <br>
    <button>Crear alumno</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>